{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<head>
<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'dashboard.css' %}"/>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="http://d3js.org/d3.v3.js"></script>
</head>

<html lang="en">
<h1>KPS Dashboard</h1>
<body data-twttr-rendered="true" data-offset="50" data-target=".subnav" data-spy="scroll">

	<div class="container">
	<div class="row-fluid">
		<div class="col-md-3">
			<div class="well">
				Revenue Total
				<h1 class="color-green">${{revenue}}</h1>

			</div>
		</div>
		<div class="col-md-3">
			<div class="well">
				Expenditure total
				<h1>${{expenditure}}</h1>
			</div>
		</div>
		<div class="col-md-3">
			<div class="well" id="event_total">
				Event total
				<h1>{{event_total}}</h1>
			</div>
		</div>
		<div class="col-md-3">
			<div class="well">
				Total mail
				<h1>{{mail_total}}</h1>
			</div>
		</div>
	</div>
	</div>
	<div class="row-fluid">
		<ul class="nav nav-tabs" id="main_tabs">
			<li class="active">
				<a data-toggle="tab" href="#average_delivery_times">Events</a>
			</li>
			<li>
				<a data-toggle="tab" href="#critical_route_table">Critical Routes </a>
			</li>
			<li>
				<a data-toggle="tab" href="#revenue_vs_expenditure_graph">Revenue Vs. Expenditure </a>
			</li>
		</ul>
	</div>

	<div class="tab-content">
		<div id="average_delivery_times" class="tab-pane fade in active">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>From</th>
						<th>To</th>
						<th>Priority</th>
						<th>Revenue</th>
						<th>Expenditure</th>
					</tr>
				</thead>
				<tbody>
				{% for pricing in customer_pricings%}
					<tr class="{{pricing.status}}">
						<td>{{ pricing.from }}</td>
						<td>{{ pricing.to }}</td>
						<td>{{ pricing.priority }}</td>
						<td>${{ pricing.revenue }}</td>
						<td>${{ pricing.expenditure }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
		<div id="critical_route_table" class="tab-pane fade">
			<table class="table table-striped" id="critical_route_table">
				<thead>
					<tr>
						<th>From</th>
						<th>To</th>
						<th>Duration</th>
					</tr>
				</thead>
				<tbody>
					{% for pricing in customer_pricings%}
						<tr>
							<td>{{ pricing.from }}</td>
							<td>{{ pricing.to }}</td>
							<td>{{ pricing.duration }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div id="revenue_vs_expenditure_graph" class="tab-pane fade">
			
		</div>
	</div>
</body>
</html>
{% endblock %}