{% extends 'base.html' %}

{% block title %}Deliver Mail{% endblock %}
{% block content %}
<h1>Deliver Mail</h1>
<form action="" method="post">{% csrf_token %}
  {{ delivery_form.as_p }}
  <label for "price_dropdown">Price:</label>
  <select name="price_dropdown">
    <option value="" selected="selected">---------</option>

    {% for price in price_updates_selection %}
      <option value={{forloop.counter0}}> {{price}} </option>
    {% endfor %}
  </select>
  <input class="btn btn-primary" type="submit" value="Create" />
</form>
{% endblock %}
